.personal-tabs-container{
    border: $fs-2px solid $light-green;
    border-radius: 0.5rem;
}

.personal-tabs-bg{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: $light-green;
}
.personal-tabs{
   font-family: $avenir-medium !important;
   font-size: $fs-16px !important;
   color: $white;
   padding: $fs-12px $fs-16px;
}
.opacity-05{
    opacity: 0.5;
}