@import '../../Stylesheet/colors';

.custom-menu {
  background:$light-green;
  min-height: 4rem;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top:0;
  z-index: 999;
}
.custom-menu-item--position {
  width: 87%;
  align-items: center;
  margin: 0 auto;
}
.nav-item {
  padding: 0rem 1rem;
  color: #000;
}
.nav-item--list {
  color: #25b1a4;
  font-family: $avenir-medium !important;
   font-size: $fs-16px !important;
   color: $white;
}
.active.nav-item {
  color: #25b1a4;
  font-family: $avenir-medium !important;
   font-size: $fs-16px !important;
   color: $white;
}
.navbar-collapse {
  min-height: 3rem !important;
}
