body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.common-flex{
  display: flex; 
}
.cursor-pointer{
  cursor: pointer;
}
.margin-auto{
  margin: auto;
}
.bg-white-smoke{
  background: #f3f3f3;
}
.br-bottom{
  border-bottom: 0.15rem solid #f3f3f3;
}
.error-msg{
  font-size: 0.75rem;
  color: red;
}

.has-error .form-control {
  border-color: #a94442;
}

