$butter-scotch: #ffc243;
$light-grey: #cccccc;
$nero-grey: #282828;
$gain-boro-white: #dddddd;
$white-smoke: #f5f5f5;
$disabled: #e9ecef;
$white-smoke-light: #f6f6f6;
$black: #000000;
$white:#ffffff;
$light-green: #20b9ab;

//colors with alpha
